<html lang="ru">
	<head>
		<meta charset="utf-8">
	</head>
	<body>
		<p>Добрый день, <%= username %></p>
		<p>Из-за технических причин, мы смогли обработать ваше резюме только сейчас.</p>
		<p>Если вы все еще заинтересованы в <strong>вакансии</strong>, пожалуйста выполните простое тестовое задание.</p>
		<p>Описание тестового задания: <a href="https://goo.gl/MFxtoF" title="Документ на GDisk">https://goo.gl/MFxtoF</a></p>
		<p>Возможный дизайн: <a href="https://goo.gl/dVO2ha" title="Документ на GDisk">https://goo.gl/dVO2ha</a></p>
		<p>Результаты выполненного задания отправьте в форму <a href="https://goo.gl/forms/gMIxueRsiDxf1SJ93" title="Форма на сайте Google Forms">https://goo.gl/forms/gMIxueRsiDxf1SJ93</a></p>
		<p>Если:<br/>
			<ul>
				<li>у вас возникли какие-либо вопросы;</li>
				<li>что-то не понятно в задании;</li>
				<li>вы считаете, что это задание слишком сложное;</li>
				<li>вы считаете, что мы дали вам мало времени на выполнение этого задания;</li>
				<li>вы считаете, что работа такого объема должна быть оплачена</li>
				<li>любая другая проблема,</li>
			</ul>
		</p>
		<p>напишите нам на <a href="mailto:t0634781041@gmail.com">t0634781041@gmail.com</a> письмо в любой форме и мы обязательно с вами свяжемся.</p>
		<p>Мы не пытаемся за счет выполнения тестовых заданий кандидатами решить свои финансовые проблемы. Данное тестовое задание предназначено только для того, что бы проверить ваш профессиональный уровень. У нас большой поток запросов на создание похожих лендингов и мы не располагаем временем для обучения вас основам.</p>
		<p>Заранее благодарим за ответ</p>
	</body>
</html>